<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface2</title>
    <link href="style.css" rel="stylesheet">
    <script src="code.js"></script> 
</head>

<body>
    <header>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis suscipit ex, venenatis ultricies tortor volutpat et. Morbi condimentum nibh sed urna dictum condimentum. Curabitur vel erat vel mauris mattis sodales at non nunc. Nunc. </p>
    </header>
    <section class="content">
        <section class="small-articles">
            <article>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at cursus est, sit amet faucibus sapien. Maecenas orci turpis, dignissim quis mattis pharetra, hendrerit eu diam. Nam ligula neque, dapibus eget finibus a, finibus condimentum. </p>
            </article>
            <article>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mi enim, ornare in quam a, egestas porttitor dolor. Pellentesque porta malesuada sem in fringilla. Etiam auctor luctus nisl. Suspendisse suscipit tempor felis, ac tincidunt enim. </p>
            </article>
            <article>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nisi orci, ultrices sed interdum vel, facilisis ut nisi. Mauris at nulla ligula. Pellentesque semper accumsan erat vitae porta. Donec a orci mollis, finibus justo nec. </p>
            </article>
        </section>
        <section class="full-articles">
            <section class="article-row">
                <img id="img1" src="img/Korone_03.png" alt="default1">
                <article id="article1">
                    <h1>Lorem Ipsum</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ante vitae ante aliquam mattis. Suspendisse porttitor dolor sodales diam mattis, vel facilisis leo cursus. Mauris venenatis feugiat arcu. Duis leo ligula, efficitur ac viverra. </p>
                </article>
            </section>
            <section class="article-row">
                <img id="img2" src="img/Mori_02.jpg" alt="defautl2">
                <article id="article2">
                    <h1>Lorum Ipsum</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius semper condimentum. Vestibulum egestas, ligula quis eleifend porta, risus nibh posuere justo, quis interdum sapien urna non tellus. Pellentesque habitant morbi tristique senectus et netus. </p>
                </article>
            </section>
        </section>
    </section>
</body>