/*common*/

body{
    padding: 2px;
}

header{
    background-color: lightgray;
    text-align: center;
    padding: 0.25em 0em 3em 0em;
}

.content{
    width: 90%;
    margin: auto;
    position: relative;
    top: -5em;
}

.small-articles article{
    background-color: grey;
    border-style: solid;
    border-radius: 1em;
    text-align: center;
    margin: 2em 0em;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.small-articles p{
    padding: 0em 1em 1em 1em;
}

.article-row article{
    margin: 1em 0em;
}

.article-row img{
    width:95%;
    height:15em;
    background-color: lightgray;
    margin:auto;
    object-fit: contain;
}

.article-row article h1{
    font-size: 2em;
    margin:0em;
}

/*desktop*/
@media screen and (min-width: 750px){

    header{
        background-color: lightgray;
        text-align: center;
        padding: 3em 10em 8em 10em;
    }

    .content{
        top:-8em;
    }

    body{
        width:1000px;
        margin:auto;
    }

    .small-articles {
        display: grid;
        grid-gap: 5%;
        grid-template-columns: repeat(3, 1fr);
    }

    .small-articles article{
        grid-column: span 1;
    }

    .article-row {
        display: grid;
        grid-gap: 10%;
        grid-template-columns: 1fr 1fr;
    }

    .article-row img {
        grid-column: span 1;
    }

    .article-row article{
        grid-column: span 1;
        vertical-align: center;
        margin: auto;
    }
}